APP_KEY=
DB_CONNECTION=sqlite
DB_DSN=mailbox.sqlite
HTTP_PORT=8080
SMTP_PORT=2525

MAIL_HOSTNAME='localhost'
MAIL_AUTH=true
MAIL_USERNAME='foo@bar.com'
MAIL_PASSWORD='password'
MAIL_TLS=true
MAIL_TLS_CERT=./cert/certificate.crt
MAIL_TLS_KEY=./cert/certificate.key
